<div>
  <nz-row>
    <h3 Id="headerTitle">
      <span nz-icon nzType="folder-open" nzTheme="outline" style="margin-right: 10px;"></span>Litigation
    </h3>
    <nz-divider></nz-divider>
  </nz-row>
  <nz-table
    *ngIf="!loading"
    #basicTable
    [nzTitle]="Header"
    [nzData]="litigation"
  >
    <thead>
    <tr>
      <th>#</th>
      <th>Litigation Type</th>
      <th>Court Adjudicating</th>
      <th>Case Type</th>
      <th>Case Stage</th>
      <th>Branch</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data; let i=index">
      <td>{{ i + 1 }}</td>

      <td>{{ data.litigationType }}</td>
      <td>
        <span>{{ data.courtAdjudicating }}</span>
      </td>
      <td>
        <nz-tag [nzColor]="'red'">
          <span>{{ data.caseStage }}</span></nz-tag>
      </td>
      <td>{{data.caseType?.caseTypeName}}</td>
      <td>{{data.branch?.name}}</td>
      <td>
        <a   (click)="onOpenLitigationDetails(data.litigationId)">Report</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a style="color: darkgoldenrod"
          (click)="openDrawer(data.litigationId)"
        >
          Edit
        </a>
<!--        <nz-divider nzType="vertical"></nz-divider>-->
<!--        <a>Delete</a>-->
      </td>
    </tr>
    </tbody>
    <ng-template #Header>
      <!-- <div nz-row>
          <div nz-col [nzSpan]="6" [nzPull]="18">
            <button
            style="border:1px solid red"
            id="btnStyle"
              nz-button
              nzType="primary"
              (click)="onCreateMailNotificationType()"
            >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
              Create Mail Type
            </button>
          </div>
          <div nz-col [nzSpan]="18" [nzPush]="6">col-18 col-push-6</div>

        </div> -->

      <div nz-row>
        <div nz-col [nzSpan]="6" [nzPush]="18">
          <button
            style="float: right"
            id="btnStyle"
            nz-button
            nzType="primary"
            (click)="openDrawer(undefined)"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Create Litigation
          </button>
        </div>
      </div>
    </ng-template>
  </nz-table>
</div>
