<div>
    <h3 Id="headerTitle">
      <span nz-icon nzType="folder-open" nzTheme="outline" style="margin-right: 10px;"></span>Litigation
    </h3>
    <nz-divider></nz-divider>
  <div>
  <div nz-row style="width: 100%">
    <div nz-col nzSpan="6" nzOrder="4">
      <nz-skeleton-element
        style="float: right;"
        *ngIf="loading"
        [nzActive]="true"
        nzType="button"
        [nzSize]="'large'"
        [nzShape]="'default'"
      ></nz-skeleton-element>
    </div>
    <div nz-col nzSpan="6" nzOrder="3"></div>
    <div nz-col nzSpan="6" nzOrder="2"></div>
    <div nz-col nzSpan="6" nzOrder="1"></div>
  </div>
  <div nz-row>
    <nz-skeleton
      [nzLoading]="loading"
      [nzActive]="true"
      [nzParagraph]="true"
      rows="120"
    >
    </nz-skeleton>
  </div>

</div>
  <nz-table
    *ngIf="!loading"
    #basicTable
    [nzTitle]="Header"
    [nzData]="litigation"
  >
    <thead>
    <tr>
      <th>#</th>
      <th>Litigation-Type</th>
      <th>Litigation-Status</th>
      <th>Court-Adjudicating</th>
      <th>Case-Type</th>
      <th>Case-Stage</th>
      <th>Branch</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data; let i=index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.litigationType }}</td>
      <td>{{ data.status }}</td>
      <td>
        <span>{{ data.courtAdjudicating }}</span>
      </td>
      <td>{{data.caseType?.caseTypeName}}</td>
      <td>
        <nz-tag [nzColor]="'red'">
          <span>{{ data.caseStage }}</span></nz-tag>
      </td>
      <td>{{data.branch?.name}}</td>
      <td>
        <a   (click)="onOpenLitigationDetails(data.litigationId)">Report</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a style="color: darkgoldenrod"
          (click)="openDrawer(data.litigationId)">
          Edit
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a *ngIf=" hasAttorneyPriVillage() && data.caseStage == 'POST_TRIAL'" style="color: darkgoldenrod"
           (click)="openAppealDrawer(data.caseStage)">
          Appeal
        </a>
      </td>
    </tr>
    </tbody>
    <ng-template #Header>
      <div nz-row>
        <div nz-col [nzSpan]="6" [nzPush]="18">
          <button *ngIf="hasMakerPriVillage()"
            style="float: right"
            id="btnStyle"
            nz-button
            nzType="primary"
            (click)="openDrawer(undefined)"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Create Litigation
          </button>
        </div>
      </div>
    </ng-template>
  </nz-table>
</div>
