<div>
  <h2
    style="  font-family: 'CerebriSans-Bold', -apple-system, BlinkMacSystemFont,
        'Roboto', sans-serif; ">
    <span
      nz-icon
      nzType="mail"
      nzTheme="outline"
      style="margin-right: 10px; color: #8b87e6">
    </span>
    Mail Types
  </h2>
  <nz-divider nzType="horizontal"></nz-divider>
  <div>
    <div nz-row style="width: 100%">
      <div nz-col nzSpan="6" nzOrder="4">
        <nz-skeleton-element
          style="float: right"
          *ngIf="loading"
          [nzActive]="true"
          nzType="button"
          [nzSize]="'large'"
          [nzShape]="'default'">
        </nz-skeleton-element>
      </div>
      <div nz-col nzSpan="6" nzOrder="3"></div>
      <div nz-col nzSpan="6" nzOrder="2"></div>
      <div nz-col nzSpan="6" nzOrder="1"></div>
    </div>
    <div nz-row>
      <nz-skeleton
        [nzLoading]="loading"
        [nzActive]="true"
        [nzParagraph]="true"
      >
      </nz-skeleton>
    </div>
  </div>

  <nz-table
    style="
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
      padding: 10px;
    "
    *ngIf="!loading"
    #basicTable
    [nzTitle]="Header"
    [nzData]="mailTypes"
  >
    <thead>
    <tr>
      <th>#</th>
      <th>Mail Type Name</th>
      <th>Duration</th>
      <th>Remark</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data;let i = index">
      <td>
<!--        {{ data.mailNotificationTypeId }}-->
        {{i+1}}
      </td>
      <td>
        <nz-tag [nzColor]="data.color">
          <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
          <span>{{ data.mailTypeName }}</span>
        </nz-tag>
      </td>
      <td>
        <!-- <nz-tag  [nzColor]="data.color">
              <span nz-icon nzType="number" nzTheme="outline"></span>
              <span>{{ data.numberOfDays }}</span></nz-tag> -->
        <span [style.color]="data.color" style="font-weight: 700">
            <span
              nz-icon
              nzType="bell"
              nzTheme="outline"
              style="color: #2a2642; margin-right: 10px"
            ></span
            >{{ data.numberOfDays }} Days</span
        >
      </td>
      <td>{{ data.remark }}</td>
      <td>
        <a>Details</a>
        <nz-divider nzType="vertical"></nz-divider>
        <button
          id="editBtn" nz-button
          nzType="primary"
          (click)="openDrawer(data.mailNotificationTypeId)">
          Edit
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
    </tbody>
    <ng-template #Header>

      <div nz-row>
        <div nz-col [nzSpan]="6" [nzPush]="18">
          <button
            style="float: right"
            id="btnStyle"
            nz-button
            nzType="primary"
            (click)="openDrawer(undefined)"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Create Mail Type
          </button>
        </div>
      </div>
    </ng-template>
  </nz-table>
</div>
