<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/home" target="_blank">
        <img src="favicon.ico" alt="logo">
        <h1>Case Management</h1>
      </a>
    </div>
    <ul class="nz-menu" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Maintenance Setting" nzIcon="setting">
        <ul>
          <li routerLink="/advocate" nz-menu-item>
            <span nz-icon nzType="diff" nzTheme="outline" style="color:white;margin-right:10px"></span><a>Advocate</a>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="book" nzTheme="outline" style="color:white;margin-right:10px"></span>
            <a routerLink="/auction-types">Auction</a>
          </li>

          <li routerLink="/case-types" nz-menu-item>
            <span nz-icon nzType="diff" nzTheme="outline" style="color:white;margin-right:10px"></span><a>Case Type</a>
          </li>
          <li routerLink="/comment" nz-menu-item>
            <span nz-icon nzType="diff" nzTheme="outline" style="color:white;margin-right:10px"></span><a>Comment</a>
          </li>
          <li routerLink="/intervene" nz-menu-item>
            <span nz-icon nzType="diff" nzTheme="outline" style="color:white;margin-right:10px"></span><a>Intervene</a>
          </li>
          <li routerLink="/mail-types" nz-menu-item>
            <span nz-icon nzType="bell" nzTheme="outline" style="color:white;margin-right:10px"></span><a>Mail Types</a>
          </li>
          <li routerLink="/report" nz-menu-item>
            <span nz-icon nzType="bell" nzTheme="outline" style="color:white;margin-right:10px"></span><a>Judiciary Report</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Litigation&Expense" nzIcon="car">
        <ul>
          <li nz-menu-item>
            <span nz-icon nzType="subnode" nzTheme="outline" style="margin-right: 10px;"></span>
            <a routerLink="/litigations">Litigation</a>
          </li> <li nz-menu-item>
          <span nz-icon nzType="dollar-circle" nzTheme="outline" style="color:white;margin-right:10px"></span>
          <a routerLink="/expenses">Expense</a>
        </li>

          <li nz-menu-item>
            <span nz-icon nzType="dollar-circle" nzTheme="outline" style="color:white;margin-right:10px"></span>
            <a routerLink="/expense-detail">Expense-Detail</a>
          </li>

          <li routerLink="/appointment" nz-menu-item>
            <span nz-icon nzType="bell" nzTheme="outline"
                  style="color:white;margin-right:10px"></span><a>Judicial Appointment</a>
          </li>

          <li nz-menu-item>
            <span nz-icon nzType="subnode" nzTheme="outline" style="margin-right: 10px;"></span>
            <a routerLink="/home">Appeal</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Mortgage&ForeClosure" nzIcon="car">
        <ul>
          <li nz-menu-item>
            <span nz-icon nzType="bank" nzTheme="outline" style="color:white;margin-right:10px"></span><a
            routerLink="/mortgage-types">Mortgage</a>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="subnode" nzTheme="outline" style="margin-right: 10px;"></span>
            <a routerLink="/mortgage-detail">Mortgage-Detail</a>
          </li>
          <li routerLink="/fore-closure" nz-menu-item>
            <span nz-icon nzType="bell" nzTheme="outline"
                  style="color:white;margin-right:10px"></span><a>Fore-closure</a>
          </li>
        </ul>
      </li>

    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>

        </span>
        <ul nz-menu nzMode="horizontal" class="header-menu">
          <li nz-menu-item>
            {{ fullName }}
          </li>
          <li nz-menu-item style="margin-left: -1em;">
            <a nz-dropdown [nzDropdownMenu]="menu">
              <nz-tag [nzColor]="'#108ee9'">{{branchName}}</nz-tag>
            </a>
          </li>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu style="width: 200px">
              <li>
                <div style="padding: 10px" nz-row [nzGutter]="16" nzJustify="center">
                  <nz-avatar [nzSize]="100" nzIcon="user"></nz-avatar>
                </div>
                <div nz-row [nzGutter]="16" nzJustify="center">
                  <strong>{{ fullName }}</strong>
                </div>
              </li>
              <li>
                <nz-divider nzType="horizontal"></nz-divider>
              </li>
              <li style="padding: 7px" nz-menu-item>
                <a routerLink="/employee/employees-summary/{{ employeeId }}"><i nz-icon nzType="user"></i>
                  <nz-divider nzType="vertical"></nz-divider>
                  Profile
                </a>
              </li>
              <li style="padding: 7px" nz-menu-item>
                <a href="http://10.1.12.70:8081/auth/realms/enat/account/" target="_blank" rel="noopener noreferrer">
                  <i nz-icon nzType="lock"></i>
                  <nz-divider nzType="vertical"></nz-divider>
                  Change Password
                </a>
              </li>

              <li style="padding: 7px" nz-menu-item (click)="onLogOut()">
                <b><i nz-icon nzType="logout"></i>
                  <nz-divider nzType="vertical"></nz-divider>
                  Logout
                </b>
              </li>
            </ul>
          </nz-dropdown-menu>
          <!-- <li nz-menu-item><nz-tag [nzColor]="'cyan'">LoggedIn </nz-tag></li> -->
        </ul>
      </div>

    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
