<form nz-form nzLayout="vertical"
  [formGroup]="createMailTypeForm"
  (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label nzRequired>Mail-Type-Name   </nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please input Mail Type Name!">
        <input
          type="text"
          nz-input
          formControlName="mailTypeName"
          placeholder="Mail Type Name"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Number Of Days  </nz-form-label>
    <nz-form-control [nzSpan]="24">
      <nz-input-number
        formControlName="numberOfDays"
        [nzMin]="1"
        [nzStep]="1"
        nzPlaceHolder="Number of Days"
        style="width: 100%">
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Remarks </nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please input your Expense Name!">
          <textarea
            nz-input
            placeholder="Remark"
            formControlName="remark"
            [nzAutosize]="{ minRows: 3, maxRows: 5 }"
          ></textarea>
    </nz-form-control>
  </nz-form-item>

  <button  nzType="primary"  nz-button  [disabled]="!createMailTypeForm.valid">
    Save
  </button>
</form>

