<form nz-form nzLayout="vertical"
      [formGroup]="createAuctionTypeForm"
      (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label> Auction Type  </nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please input your Auction Type Name!">
      <input type="text"
        nz-input
        formControlName="auctionTypeName"
        placeholder="Auction Name"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Foreclosure</nz-form-label>
    <div formGroupName="foreClosure">
      <nz-form-control [nzSpan]="24" nzErrorTip="please select foreClosure! ">
        <nz-select class="input" formControlName="foreClosureId"
                   nzAllowClear
                   nzShowSearch
                   nzPlaceHolder="foreClosure">
          <nz-option
            nzCustomContent
            *ngFor="let data of foreClosure" [nzValue]="data.foreClosureId"
            nzLabel="{{data.mortgageDetail?.borrower}} {{data.mortgageDetail?.mortgageType?.mortgageTypeName}}">
            <nz-divider nzType="vertical"></nz-divider>
            <strong>{{data.mortgageDetail?.borrower}}  {{data.mortgageDetail?.mortgageType?.mortgageTypeName}}</strong>
          </nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Date auction announced</nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please write date auction announced! ">
      <nz-date-picker formControlName="dateAuctionAnnounced" nzShowTime></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Date auction conducted</nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please write date auction will be conducted! ">
      <nz-date-picker formControlName="dateAuctionConducted" nzShowTime></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input remark!">
            <textarea
              nz-input
              placeholder="Remark"
              formControlName="remark"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"
            ></textarea>
    </nz-form-control>
  </nz-form-item>
  <button nz-button nzType="primary" [disabled]="!createAuctionTypeForm.valid">Save</button>
</form>
