<form nzLayout="vertical"
      nz-form
      [formGroup]="createMortgageTypeForm"
      (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label> Mortgage-Type</nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please input Case Type Name!">
      <nz-select class="input"
                 formControlName="mortgageTypeName"
                 nzAllowClear
                 nzShowSearch
                 nzPlaceHolder="Mortgage property type ">
        <nz-option nzCustomContent nzValue="Car" nzLabel="Car"> Car</nz-option>
        <nz-option nzCustomContent nzValue="Home" nzLabel="Home"> Home</nz-option>
        <nz-option nzCustomContent nzValue="Machine" nzLabel="Machine"> Machine</nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label> Mail-Notification-Type</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <div formGroupName="mailNotificationType">
        <nz-select
          style="width: 100%;margin-bottom: 1em;"
          nzShowSearch
          nzServerSearch
          nzPlaceHolder="Search Mail types"
          formControlName="mailNotificationTypeId"
        >
          <nz-option
            nzCustomContent
            *ngFor="let data of mailTypes" [nzValue]="data.mailNotificationTypeId"
            nzLabel="{{data.mailTypeName}}">
            <nz-divider nzType="vertical"></nz-divider>
            <strong>{{data.mailTypeName}} {{data.numberOfDays}}</strong>
          </nz-option>
        </nz-select>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label> Mortgage-Remark</nz-form-label>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please input your Expense Name!">
            <textarea
              nz-input
              placeholder="Remark"
              formControlName="remark"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"
            ></textarea>
    </nz-form-control>
  </nz-form-item>
  <button
    nz-button
    [nzType]="'primary'"
  >
    Save
  </button>
</form>
