
      <form
        nz-form
        [formGroup]="createCaseTypeForm"
        class="login-form"
        (ngSubmit)="onSubmit()"
      >
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input Case Type Name!">
            <nz-input-group nzPrefixIcon="number">
              <input
                type="text"
                nz-input
                formControlName="caseTypeName"
                placeholder="Case Type Name"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Expense Name!">
            <textarea
              nz-input
              placeholder="Remark"
              formControlName="remark"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>

        <button
          nz-button
          class="login-form-button login-form-margin"
          [nzType]="'primary'"
          style="width: 100%"
          [nzLoading]="loading"
        >
          Save Case
        </button>
      </form>
