<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/welcome">
      <span nz-icon nzType="home"></span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/litigations">
      <span>litigation</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Details</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-card nzTitle="Litigation Report Information">
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Litigation" [nzBordered]="false">
        <p>Litigation: {{litigation?.litigationType}}  </p>
        <p>Litigation-Status: {{litigation?.status}}  </p>
        <p>isBankPlaintiff: {{litigation?.isBankPlaintiff}}  </p>
        <p>fileNumber: {{litigation?.fileNumber}}  </p>
        <p>courtAdjudicating: {{litigation?.courtAdjudicating}}  </p>
        <p>caseStage: {{litigation?.caseStage}}  </p>
        <p>remark: {{litigation?.remark}}  </p>
      </nz-card>
    </div>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Case-Type" [nzBordered]="false">
        <p>caseTypeName:
          {{litigation?.caseType?.caseTypeName}}
        </p>
        <p>remark: {{litigation?.caseType?.remark }}</p>
        <a *ngIf="hasSupervisorPriVillage()" (click)="openCaseDrawer(litigation.caseType?.caseTypeId)">Edit</a>
      </nz-card>
    </div>
  </div>
  <nz-collapse>
    <nz-collapse-panel  nzHeader="Plaintiff and Defendant">
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-card [nzBordered]="false" nzTitle="Plaintiff">
            <p>Name:
              {{litigation?.plaintiff?.firstName}}
              {{litigation?.plaintiff?.middleName}}
              {{litigation?.plaintiff?.lastName}}
            </p>
            <p>accountNumber: {{litigation?.plaintiff?.accountNumber }}</p>
            <p>phone: {{litigation?.plaintiff?.phoneNumber }}</p>
          </nz-card>
        </div>
        <div nz-col nzSpan="12">
          <nz-card [nzBordered]="false" nzTitle="Defendant">
            <p>fileNumber:
              {{litigation?.defendant?.firstName}}
              {{litigation?.defendant?.middleName}}
              {{litigation?.defendant?.lastName}}
            </p>
            <p>accountNumber: {{litigation?.defendant?.accountNumber }}</p>
            <p>phoneNumber: {{litigation?.defendant?.phoneNumber }}</p>
          </nz-card>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-collapse>
    <nz-collapse-panel nzHeader="Advocate and Intervene">
      <div nz-row>
        <div nz-col nzSpan="11">
          <nz-card [nzBordered]="false" nzTitle="Intervene" [nzExtra]="cardTitle">
                <p>Name:
                  {{litigation?.intervene?.firstName}}
                  {{litigation?.intervene?.lastName}}
                </p>
                <p>state: {{litigation?.intervene?.interveneAddress.state }}</p>
                <p>city: {{litigation?.intervene?.interveneAddress.city }}</p>
                <p>subCity: {{litigation?.intervene?.interveneAddress.subCity}}</p>
                <p>woredaOrKebele: {{litigation?.intervene?.interveneAddress.woredaOrKebele }}</p>
                <p>houseNo: {{litigation?.intervene?.interveneAddress.houseNo}}</p>
            <ng-template #cardTitle>
              <a *ngIf="hasSupervisorPriVillage()" (click)="openDrawerIntervene(litigation?.intervene?.interveneId)">
                Edit Intervene
              </a>
            </ng-template>
          </nz-card>
        </div>
        <div nz-col nzSpan="2">
          <nz-divider nzType="vertical"></nz-divider>
        </div>
        <div nz-col nzSpan="11">
          <nz-card [nzBordered]="false" nzTitle="Advocate" [nzExtra]="card2Title">
                <p>Name:
                  {{litigation?.advocate?.firstName}}
                  {{litigation?.advocate?.lastName}}
                </p>
                <p>date: {{litigation?.advocate?.date | date}}</p>
                <p>remark: {{litigation?.advocate?.remark }}</p>
            <ng-template #card2Title>
              <a *ngIf="hasSupervisorPriVillage()"  (click)="openDrawerAdvocate(litigation?.advocate.advocateId)">
                Edit Advocate
              </a>
            </ng-template>
          </nz-card>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-collapse>
    <nz-collapse-panel nzHeader="Appointment ">
      <nz-card [nzBordered]="false" nzTitle="Appointment">
        <nz-table #appointmentList [nzData]="expenseDetail">
          <thead>
          <tr>
            <th nzAlign="center">Date</th>
            <th nzAlign="center">Reason</th>
            <th nzAlign="center">Expense</th>
            <th nzAlign="center">Amount</th>
            <th nzAlign="center">Miscellaneous</th>
            <th  *ngIf="hasAttorneyPriVillage()" nzAlign="center">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of expenseDetail; let i = index">
            <td nzAlign="center"> {{ data.judicialAppointment?.appointmentDate | date }}
              -{{ data.judicialAppointment?.appointmentDate | date:"hh:mm"}}</td>
            <td nzAlign="center"> {{ data.judicialAppointment?.appointmentReason  }}</td>
            <td nzAlign="center"> {{ data.expense?.expenseName  }}</td>
            <td nzAlign="center"> {{ data.amount }}</td>
            <td nzAlign="center"> {{ data.miscellaneous  }}</td>
            <td *ngIf="hasAttorneyPriVillage()" nzAlign="center">
              <a class="edit-btn" (click)="openDrawer(data.judicialAppointment?.appointmentId)"
                 nz-tooltip="edit-appointment">Edit</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="edit-btn" (click)="openExpenseDrawer(data.expense_detail_id)"
                 nz-tooltip="edit-expense">Edit</a>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </nz-collapse-panel>
  </nz-collapse>

  <nz-table #commentList [nzData]="comment">
    <thead>
    <tr>
      <th nzAlign="center">Content</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of comment; let i = index">
      <td nzAlign="center"> {{ data.content}} </td>
    </tr>
    </tbody>
  </nz-table>
  <div *ngFor="let data of comment">
    <div nz-row>
      <div nz-col nzSpan="12">
        <div *ngIf="data.c==username">
          <nz-comment nzAuthor="{{data.created_by }} "
                      nzDatetime="{{data.created_at}}">

            <nz-avatar
              nz-comment-avatar
              nzIcon="user"
            ></nz-avatar>
            <nz-comment-content>
              <p>
                {{data.remark}}
              </p>
            </nz-comment-content>
          </nz-comment>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div *ngIf="data.created_by!=username">
          <nz-comment nzAuthor="{{data.created_by}}"
                      nzDatetime="{{data.created_at}}">

            <nz-avatar
              nz-comment-avatar
              nzIcon="user"
            ></nz-avatar>
            <nz-comment-content>
              <p>
                {{data.remark}}
              </p>
            </nz-comment-content>
          </nz-comment>
        </div>
      </div>
    </div>


  </div>

</nz-card>



