<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/welcome">
      <span nz-icon nzType="home"></span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/request">
      <span>Request</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Details</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-card nzTitle="Litigation Report Information">
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Litigation">
        <p>Litigation: {{litigation?.litigationType}}  </p>
        <p>isBankPlaintiff: {{litigation?.isBankPlaintiff}}  </p>
        <p>fileNumber: {{litigation?.fileNumber}}  </p>
        <p>courtAdjudicating: {{litigation?.courtAdjudicating}}  </p>
        <p>caseStage: {{litigation?.caseStage}}  </p>
        <p>remark: {{litigation?.remark}}  </p>
      </nz-card>
    </div>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Case-Type">
        <p>caseTypeName:
          {{litigation?.caseType?.caseTypeName}}
        </p>
        <p>remark: {{litigation?.caseType?.remark }}</p>
      </nz-card>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Plaintiff">
        <p>Name:
          {{litigation?.plaintiff?.firstName}}
          {{litigation?.plaintiff?.middleName}}
          {{litigation?.plaintiff?.lastName}}
        </p>
        <p>accountNumber: {{litigation?.plaintiff?.accountNumber }}</p>
        <p>phone: {{litigation?.plaintiff?.phoneNumber }}</p>
      </nz-card>

    </div>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="defendant">
        <p>fileNumber:
          {{litigation?.defendant?.firstName}}
          {{litigation?.defendant?.middleName}}
          {{litigation?.defendant?.lastName}}
        </p>
        <p>accountNumber: {{litigation?.defendant?.accountNumber }}</p>
        <p>phoneNumber: {{litigation?.defendant?.phoneNumber }}</p>
      </nz-card>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Advocate">
        <div nz-row>
          <div nz-col nzSpan="12">
            <p>Name:
              {{litigation?.advocate?.firstName}}
              {{litigation?.advocate?.lastName}}
            </p>
            <p>date: {{litigation?.advocate?.date | date}}</p>
          </div>
          <div nz-col nzSpan="12">
            <p>remark: {{litigation?.advocate?.remark }}</p>
          </div>
        </div>
        <button id="editBtn" nz-button
          nzType="primary" (click)="openDrawerAdvocate(litigation?.advocate.advocateId)">
          Edit
        </button>
      </nz-card>
    </div>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="Intervene">
        <div nz-row>
          <div nz-col nzSpan="12">
            <p>Name:
              {{litigation?.intervene?.firstName}}
              {{litigation?.intervene?.lastName}}
            </p>
            <p>state: {{litigation?.intervene?.interveneAddress.state }}</p>
            <p>city: {{litigation?.intervene?.interveneAddress.city }}</p>
          </div>
          <div nz-col nzSpan="12">
            <p>subCity: {{litigation?.intervene?.interveneAddress.subCity}}</p>
            <p>woredaOrKebele: {{litigation?.intervene?.interveneAddress.woredaOrKebele }}</p>
            <p>houseNo: {{litigation?.intervene?.interveneAddress.houseNo}}</p>
          </div>
        </div>

        <button
                nz-button nzType="primary"
                (click)="openDrawerIntervene(litigation?.intervene?.interveneId)">
          Edit
        </button>
      </nz-card>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">
    </div>
    <div nz-col nzSpan="12">
<!--      <button style="margin-left: 200px" nz-button (click)="openDrawer(undefined)"-->
<!--              class="add-button">-->
        <a>Appointment</a>
<!--      </button>-->
      <nz-table #appointmentList [nzData]="appointment">
        <thead>
        <tr>
          <th nzAlign="center">Appointment-Date</th>
          <th nzAlign="center">Appointment-Reason</th>
          <th nzAlign="center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of appointmentList.data; let i = index">
          <td nzAlign="center"> {{ data.appointmentDate | date:"YYYY-mm-dd hh:mm"}}</td>
          <td nzAlign="center"> {{ data.appointmentReason  }}</td>
          <td nzAlign="center">
            <a class="edit-btn" (click)="openDrawer(data.appointmentId)"
               nz-tooltip="edit">Edit</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-card>


