<div>
  <h1>Mortgage Types</h1>
  <nz-divider nzType="horizontal"></nz-divider>
  <div>
    <div nz-row style="width: 100%">
      <div nz-col nzSpan="6" nzOrder="4">
        <nz-skeleton-element
          style="float: right"
          *ngIf="loading"
          [nzActive]="true"
          nzType="button"
          [nzSize]="'large'"
          [nzShape]="'default'"
          width=""
        ></nz-skeleton-element>
      </div>
      <div nz-col nzSpan="6" nzOrder="3"></div>
      <div nz-col nzSpan="6" nzOrder="2"></div>
      <div nz-col nzSpan="6" nzOrder="1"></div>
    </div>
    <div nz-row>
      <nz-skeleton
        [nzLoading]="loading"
        [nzActive]="true"
        [nzParagraph]="true"
        rows="120"
      >
      </nz-skeleton>
    </div>
  </div>

  <nz-table
    *ngIf="!loading"
    #basicTable
    [nzTitle]="Header"
    [nzData]="mortgageTypes"
    [nzFrontPagination]="false"
    [nzTotal]="totalElements"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    nzShowPagination
    nzShowSizeChanger
    nzShowQuickJumper
    (nzPageIndexChange)="onGetCaseTypes()"
    (nzPageSizeChange)="onGetCaseTypes(true)"
  >
    <thead>
      <tr>
        <th>#</th>
        <th>Mortgage Name</th>
        <th>Mail Name</th>
        <th>Remark</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.mortgageTypeId }}</td>
        <td>{{ data.mortgageTypeName }}</td>
        <td>
          <nz-tag [nzColor]="data.mailNotificationType.color">
            <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
            <span>{{ data.mailNotificationType.mailTypeName }}</span></nz-tag
          >
        </td>

        <td>{{ data.remark }}</td>
        <td>
          <a>Details</a>
          <nz-divider nzType="vertical"></nz-divider>
          <button
            nz-button
            nzType="primary"
            (click)="onUpdateMortgageType(data.mortgageTypeId)"
          >
            Edit
          </button>
          <!-- <a click="onUpdateExpenseType(data.id)">Edit</a> -->
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td>
      </tr>
    </tbody>
    <ng-template #Header>
      <div nz-row style="width: 100%">
        <div nz-col nzSpan="6" nzOrder="4">
          <button
            style="float: right"
            nz-button
            nzType="primary"
            (click)="onCreateMortgageType()"
          >
            Create Mortgage Type
          </button>
        </div>
        <div nz-col nzSpan="6" nzOrder="3"></div>
        <div nz-col nzSpan="6" nzOrder="2"></div>
        <div nz-col nzSpan="6" nzOrder="1"></div>
      </div>
    </ng-template>
  </nz-table>
</div>
